<!--
<article class="listing">
    <h3>TASKS</h3>
    <div class="Task Title">{{taskforminput.number}}
        <span>Task:</span> {{taskforminput.title}}
    </div>                  {{taskforminput.date}}
    <div class="detail type">
        <span>Body:</span> {{taskforminput.body}}

    </div>
</article>
-->
