// this stylesheet styles all of the navbars across the entire application; i.e. not just in navbar.hbs

// index Navbar 
.nav-item {
	color: black;
}

.indexNavLinks {
	color: #ffffff;
	padding: 0px 10px;
}

.indexNavLinks:hover {
	color: #555555 !important;
}

@media only screen and (max-width: 768px) {
    .indexNav {
		background-color: #555555;
		border-color: transparent;
		border-color: blackk;
	}
		
	.nav-item {
		padding: 0px;
		color: #ffffff;
	}
	
	.nav-item:hover {
		color: #000000;
	}
	
	.indexNavLinks:hover, #imageLink:hover {
		color: #111111 !important;
	}
}

// register Navbar

.Nav {
	background-color: #555555 !important;
	border-color: transparent;
	color: white;
	text-color: white;
}

.goHomeButton, .goHomeButton:hover {
	color: white;
}

// main Navbar

.mainNav {
	background-color: #555555;
	border-bottom: 5px solid black;
}

h6 {
	color: white;
}

.navbar-light .navbar-nav .nav-link {
    color:  #666666; 
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: #cc0000;
}

.custom-toggler.navbar-toggler {
    border: 3px solid #555555;
}

.navButton:focus {
	color: blue;
	border: 10px solid green;
}