#registerForm {
	padding: 100px 0px;
	width: 70%;
	margin: 0 auto;
}

#registerInput {
	width: 100%;
	display: inline-block;
	border: none;
	background: #eeeeee;
}
	
#registerInput:focus {
	background-color: #dddddd;
	outline: none;
	color: black;
}
	
#registerButton, #registerButton:active, #registerButton:visited {
	background-color: #555555;
	color: white;
	border: 2px solid #555555;
	font-size: 20px;
	-webkit-transition-duration: 0.4s; 
	transition-duration: 0.4s;
	
	margin: 0 auto;
	padding: 10px;
	
	/* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
	
#registerButton:hover {
	background-color: white; 
	color: #555555; 
	border: 2px solid #555555;
	cursor: pointer;
}
	
@media only screen and (max-width: 768px) {
	#registerForm {
		width: 100%;
		margin: 0 auto;
	}
}	