<!--
<div class="container">


	<div class="row featuretteRow">
	
		<div class="col-lg-6">
			<img class="featurette-image csufImage" src = "https://shibboleth.fullerton.edu/idp/images/bg-login.jpg" >
		</div>
	
		<div class="col-lg-6">
			<h1> Created By </h1>
			<ul class = "createdByUL">
				<li> <a href="https://github.com/milesjmccloskey" rel="nofollow">Miles McCloskey</a> </li>
				<li> <a href="https://github.com/dmoreno757" rel="nofollow">David Moreno</a> </li>
				<li> <a href="https://github.com/chasemoy" rel="nofollow">Chase Moyniham</a> </li>
				<li> <a href="https://github.com/razat94" rel="nofollow">Raza Tahir </a> </li>
			</ul>
		</div>  
         
	</div>
</div>	
-->

<!-- First Container -->
<div class="bg-1 text-center">
	<u> <h1> Created By </h1> </u>
	<ul class = "createdByUL">
		<li> <a href="https://github.com/milesjmccloskey" rel="nofollow">Miles McCloskey</a> </li>
		<li> <a href="https://github.com/dmoreno757" rel="nofollow">David Moreno</a> </li>
		<li> <a href="https://github.com/chasemoy" rel="nofollow">Chase Moyniham</a> </li>
		<li> <a href="https://github.com/razat94" rel="nofollow">Raza Tahir </a> </li>
	</ul>
</div>

<!-- Second Container -->
<div class="bg-2 container text-center">
	<h3> Task Manager </h3>
	<p>
		This application is designed to use emberjs and a firebase database 
		to create and manage various tasks with a pinterest like layout
	</p>
</div>

<!-- Third Container -->

<div class = "container">
	
	<div class = "jumbotron">
	
		<div class="row not12">
		
			<div class="col-md-6">
				<h2>Prerequisites</h2>
				<p>You will need the following things properly installed on your computer.</p>
				<ul>
					<li><a href="https://git-scm.com/" rel="nofollow">Git</a></li>
					<li><a href="https://nodejs.org/" rel="nofollow">Node.js</a> (with npm)</li>
					<li><a href="https://ember-cli.com/" rel="nofollow">Ember CLI</a></li>
					<li><a href="https://google.com/chrome/" rel="nofollow">Google Chrome</a></li>
				</ul>
			</div>
			  
			<div class="col-md-6">
				<h2>Installation</h2>
				<ul>
					<li><code>git clone &lt;repository-url&gt;</code> this repository</li>
					<li><code>cd p1</code></li>
					<li><code>npm install</code></li>
				</ul>
			</div>		
			
		</div>
		
		<div class="row not12">
		
			<div class="col-lg-6">
				<h2> To see application: </h2>
				<ul>
					<li><code>ember serve</code></li>
					<li>Visit your app at <a href="http://localhost:4200" rel="nofollow">http://localhost:4200</a></li>
					<li>Visit your tests at <a href="http://localhost:4200/tests" rel="nofollow">http://localhost:4200/tests</a>
					</li>
				</ul>
			</div>
			  
			<div class="col-lg-6">
				<h2> Running EmberFire and Torii </h2>
				<ul>
					<li>npm install</li>
					<li>ember install emberfire</li>
					<li>ember install torii</li>
				</ul>
			</div>		
			
		</div>
		
	
		<div class = "row">
		
			<h3 style = "margin: 0 auto;">Code Generators</h3>
			<p  style = "margin: 0 auto; padding-bottom: 70px;">Make use of the many generators for code, try <code>ember help generate</code> for more details</p>
		
			<div class = "col-lg-4">
				<h3>Running Tests</h3>
				<ul>
					<li><code>ember test</code></li>
					<li><code>ember test --server</code></li>
				</ul>
			</div>
		
			<div class = "col-lg-4">
				<h3>Linting</h3>
				<ul>
					<li><code>npm run lint:js</code></li>
					<li><code>npm run lint:js -- --fix</code></li>
				</ul>
			</div>
			
			<div class = "col-lg-4">
			<h3>Building</h3>
				<ul>
					<li><code>ember build</code> (development)</li>
					<li><code>ember build --environment production</code> (production)</li>
				</ul>
			</div>
		
		</div>
	
	</div>

</div>

<div class = "bg-3 text-center row">
		
	<div class = "col-lg-12">
		<h3>Deploying</h3>
		<p>Specify what it takes to deploy your app.</p>
	</div>

</div>
	
<div class = "bg-4 text-center">
	<div class = "container row">
		<div class="col-lg-6">
			<h5>Further Reading/Useful Links</h5>
			<ul class = "createdByUL">
				<li><a href="https://emberjs.com/" rel="nofollow">ember.js</a></li>
				<li><a href="https://ember-cli.com/" rel="nofollow">ember-cli</a></li>
			</ul>
		</div>
		<div class="col-lg-6">
			<h5> Development Browser Extensions </h5>
			<ul class = "createdByUL">
				<li><a href="https://chrome.google.com/webstore/detail/ember-inspector/bmdblncegkenkacieihfhpjfppoconhi" rel="nofollow">ember inspector for chrome</a></li>
				<li><a href="https://addons.mozilla.org/en-US/firefox/addon/ember-inspector/" rel="nofollow">ember inspector for firefox</a></li>
			</ul>
		</div>
	</div>
</div>

	
	
	
	
	
	
	
	
	
	
	
	
	
	
		<!--
	
	<h1> Created By </h1>
	<ul>
		<li> <a href="https://github.com/milesjmccloskey" rel="nofollow">Miles McCloskey</a> </li>
		<li> <a href="https://github.com/dmoreno757" rel="nofollow">David Moreno</a> </li>
		<li> <a href="https://github.com/chasemoy" rel="nofollow">Chase Moyniham</a> </li>
		<li> <a href="https://google.com/chrome/" rel="nofollow">Raza Tahir </a> </li>
	</ul>
	
    <h1> Task Manager</h1>
	<p>This application is designed to use emberjs and a firebase database to create and manage various tasks with a pinterest like layout</p>
	
	<h2> Prerequisites </h2>
	<p>You will need the following things properly installed on your computer.</p>
	<ul>
		<li><a href="https://git-scm.com/" rel="nofollow">Git</a></li>
		<li><a href="https://nodejs.org/" rel="nofollow">Node.js</a> (with npm)</li>
		<li><a href="https://ember-cli.com/" rel="nofollow">Ember CLI</a></li>
		<li><a href="https://google.com/chrome/" rel="nofollow">Google Chrome</a></li>
    </ul>
	
	<h2>Installation</h2>
	<ul>
      <li><code>git clone &lt;repository-url&gt;</code> this repository</li>
      <li><code>cd p1</code></li>
      <li><code>npm install</code></li>
	</ul>
	
	<h2> Running/Development </h2>
	<ul>
      <li><code>ember serve</code></li>
      <li>Visit your app at <a href="http://localhost:4200" rel="nofollow">http://localhost:4200</a>.</li>
      <li>Visit your tests at <a href="http://localhost:4200/tests" rel="nofollow">http://localhost:4200/tests</a>.</li>
	</ul>
	
	<h2> Running EmberFire and Torii </h2>
	<ul>
		<li>npm install</li>
		<li>ember install emberfire</li>
		<li>ember install torii</li>
	</ul>
	
	<h3>Code Generators</h3>
	<p>Make use of the many generators for code, try <code>ember help generate</code> for more details</p>
	
	<h3>Running Tests</h3>
	<ul>
		<li><code>ember test</code></li>
		<li><code>ember test --server</code></li>
	</ul>
	
	<h3>Linting</h3>
	<ul>
		<li><code>npm run lint:js</code></li>
		<li><code>npm run lint:js -- --fix</code></li>
	</ul>
	
	<h3>Building</h3>
	<ul>
		<li><code>ember build</code> (development)</li>
		<li><code>ember build --environment production</code> (production)</li>
	</ul>
	
	<h3>Deploying</h3>
	<p>Specify what it takes to deploy your app.</p>
	
	<h2>Further Reading / Useful Links</h2>
	<ul>
		<li><a href="https://emberjs.com/" rel="nofollow">ember.js</a></li>
		<li><a href="https://ember-cli.com/" rel="nofollow">ember-cli</a></li>
		<li>Development Browser Extensions
			<ul>
				<li><a href="https://chrome.google.com/webstore/detail/ember-inspector/bmdblncegkenkacieihfhpjfppoconhi" rel="nofollow">ember inspector for chrome</a></li>
				<li><a href="https://addons.mozilla.org/en-US/firefox/addon/ember-inspector/" rel="nofollow">ember inspector for firefox</a></li>
			</ul>
		</li>
	</ul>
	-->

	
	

	
	
	
	
	
	
	
	
	
