<article class="markdown-body entry-content" itemprop="text">
    <h1 class="task-header">
      <a id="user-content-task-manager" class="anchor" aria-hidden="true" href="#task-manager">
      </a>Created By</h1>
      <ul>
          <li><a href="https://github.com/milesjmccloskey" rel="nofollow">Miles McCloskey</a></li>
          <li><a href="https://github.com/dmoreno757" rel="nofollow">David Moreno</a></li>
          <li><a href="https://github.com/chasemoy" rel="nofollow">Chase Moyniham</a></li>
          <li><a href="https://google.com/chrome/" rel="nofollow">Raza </a></li>
          </ul>
    <h1 class="task-header">
      <a id="user-content-task-manager" class="anchor" aria-hidden="true" href="#task-manager">
      </a>Task Manager</h1>
  <p>This application is designed to use emberjs and a firebase database to create and manage various tasks with a pinterest like layout</p>
  <h2 class="task-header">
    <a id="user-content-prerequisites" class="anchor" aria-hidden="true" href="#prerequisites">
    </a>Prerequisites</h2>
  <p>You will need the following things properly installed on your computer.</p>
  <ul>
      <li><a href="https://git-scm.com/" rel="nofollow">Git</a></li>
      <li><a href="https://nodejs.org/" rel="nofollow">Node.js</a> (with npm)</li>
      <li><a href="https://ember-cli.com/" rel="nofollow">Ember CLI</a></li>
      <li><a href="https://google.com/chrome/" rel="nofollow">Google Chrome</a></li>
      </ul>
  <h2 class="task-header"><a id="user-content-installation" class="anchor" aria-hidden="true" href="#installation"></a>Installation</h2>
  <ul>
      <li><code>git clone &lt;repository-url&gt;</code> this repository</li>
      <li><code>cd p1</code></li>
      <li><code>npm install</code></li>
  </ul>
  <h2 class="task-header"><a id="user-content-running--development" class="anchor" aria-hidden="true" href="#running--development"></a>Running / Development</h2>
  <ul>
      <li><code>ember serve</code></li>
      <li>Visit your app at <a href="http://localhost:4200" rel="nofollow">http://localhost:4200</a>.</li>
      <li>Visit your tests at <a href="http://localhost:4200/tests" rel="nofollow">http://localhost:4200/tests</a>.</li>
  </ul>
  <h2 class="task-header"><a id="user-content-running-emberfire-and-torii" class="anchor" aria-hidden="true" href="#running-emberfire-and-torii"></a>Running EmberFire and Torii</h2>
  <ul>
    <li>ember install emberfire</li>
    <li>ember install torii</li>
  </ul>
  <h3 class="task-header" ><a id="user-content-code-generators" class="anchor" aria-hidden="true" href="#code-generators"></a>Code Generators</h3>
  <p>Make use of the many generators for code, try <code>ember help generate</code> for more details</p>
  <h3 class="task-header"><a id="user-content-running-tests" class="anchor" aria-hidden="true" href="#running-tests"></a>Running Tests</h3>
  <ul>
      <li><code>ember test</code></li>
      <li><code>ember test --server</code></li>
  </ul>
  <h3 class="task-header"><a id="user-content-linting" class="anchor" aria-hidden="true" href="#linting"></a>Linting</h3>
  <ul>
      <li><code>npm run lint:js</code></li>
      <li><code>npm run lint:js -- --fix</code></li>
  </ul>
  <h3 class="task-header"><a id="user-content-building" class="anchor" aria-hidden="true" href="#building"></a>Building</h3>
  <ul>
    <li><code>ember build</code> (development)</li>
    <li><code>ember build --environment production</code> (production)</li>
  </ul>
  <h3 class="task-header"><a id="user-content-deploying" class="anchor" aria-hidden="true" href="#deploying"></a>Deploying</h3>
  <p>Specify what it takes to deploy your app.</p>
  <h2 class="task-header"><a id="user-content-further-reading--useful-links" class="anchor" aria-hidden="true" href="#further-reading--useful-links"></a>Further Reading / Useful Links</h2>
  <ul>
    <li><a href="https://emberjs.com/" rel="nofollow">ember.js</a></li>
    <li><a href="https://ember-cli.com/" rel="nofollow">ember-cli</a></li>
    <li>Development Browser Extensions
  <ul>
    <li><a href="https://chrome.google.com/webstore/detail/ember-inspector/bmdblncegkenkacieihfhpjfppoconhi" rel="nofollow">ember inspector for chrome</a></li>
    <li><a href="https://addons.mozilla.org/en-US/firefox/addon/ember-inspector/" rel="nofollow">ember inspector for firefox</a></li>
  </ul>
  </li>
  </ul>
  </article>
