<!--
{{outlet}}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{session.currentUser.email}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                 {{#link-to 'welcome' class="btn btn-default navbar-btn" tagName='button'}} Home {{/link-to}}
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                {{#link-to 'taskforminput' class="btn btn-default navbar-btn" tagName='button'}} Task Manager {{/link-to}}            
                </li>
            <li>
                <a href="#">Courses</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>

                    <button class='btn btn-default navbar-btn' {{action 'signOut'}}>Sign Out</button>
            </li>
        </ul>
    </div>
</nav>
-->